{% extends "../base/base_general.html" %}
{% load static %}
{% load widget_tweaks %}

{% block link %}
    <link href="//www.amcharts.com/lib/3/plugins/export/export.css" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css" />
{% endblock link %}
{% block css %}
<style>
   
</style>
{% endblock css %}
{% block subheader_title %}Registrar producto{% endblock subheader_title %}

{% block breadcrumb %}
<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
    <li class="breadcrumb-item">
       <i class="flaticon2-reply mr-2"></i><a href="{% url 'productos:menu_productos' %}">Volver al menu</a> 
    </li>
</ul>
{% endblock breadcrumb %} 

{% block content %}


<div class="card card-custom">
    <div class="card-header">
     <h3 class="card-title">
      Registrar producto
     </h3>
    </div>
    <!--begin::Form-->
    <form id="form-registrar-producto">
     <div class="card-body">
      
    <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                <label>Descripción <span class="text-danger">*</span></label>
                {% render_field form.descripcion class="form-control" id="descripcion" placeholder="Ej: MOUSE GAMER" oninput="soloMayusculas(this)" %}
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label>Referencia <span class="text-danger">*</span></label>
                {% render_field form.referencia class="form-control" id="referencia" placeholder="Ej: Z340" oninput="soloMayusculas(this)" %}
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label>Proveedor <span class="text-danger">*</span></label>
                {% render_field form.proveedor class="form-control select2" id="proveedor" placeholder="Ej: EL CHIRINGUITO DE LA ESQUINA"  %}
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label>Costo Unitario <span class="text-danger">*</span></label>
                {% render_field form.costo_uni class="form-control" id="costo_uni" placeholder="Ej: 30.000" oninput="soloNumeros(this)" %}
            </div>
        </div>


    </div>

    
     <div class="card-footer d-flex justify-content-end">
        <button type="reset" class="btn btn-secondary m-3">Cancelar</button>
        <button type="button" class="btn btn-primary m-3" onclick="registrarProducto()" >Registrar producto</button>
     </div>
    </form>
    <!--end::Form-->
   </div>



{% endblock content %}

{% block javascripts %}
<script src="{% static 'src/js/apps/productos/forms.js' %}?v=12"></script>
<script src="{% static 'src/js/apps/utils/utils.js' %}?v=12"></script>

<script src="{% static 'assets/plugins/custom/datatables/datatables.bundle.js' %}"></script>

<script>
    
    validarOnChangeMasivo(formularioRegistrarProducto)

    const csrftoken = "{{ csrf_token }}"
    const registrarProductoUrl = "{% url 'productos:registrar_producto' %}"


    $(".select2").select2({
        selectionCssClass: ":all:",
        width: "100%",
    });
    
</script> 

<script src="{% static 'src/js/apps/productos/registrar_producto.js' %}?v=12"></script>

{% endblock %}