.login-aside {
  background-color: #000000;
}

/* Extra pequeño (xs) */
@media (max-width: 575.98px) {
  /* Estilos para pantallas extra pequeñas */
  .login-aside {
    max-width: 100% !important;
  }

  #personajes {
    display: none !important;
  }

  #tecno {
    width: 120px !important;
  }
}

/* Pequeño (sm) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Estilos para pantallas pequeñas */
  .login-aside {
    max-width: 100% !important;
  }

  #personajes {
    display: none !important;
  }

  #tecno {
    width: 120px !important;
  }
}

/* Mediano (md) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Estilos para pantallas medianas */
  .login-aside {
    max-width: 100% !important;
  }

  #personajes {
    display: none !important;
  }

  #tecno {
    width: 120px !important;
  }
}

/* Grande (lg) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Estilos para pantallas grandes */
  .login-aside {
    max-width: 680px !important;
  }
}

/* Extra grande (xl) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* Estilos para pantallas extra grandes */
  .login-aside {
    max-width: 680px !important;
  }
}

/* Extra extra grande (xxl) */
@media (min-width: 1400px) {
  /* Estilos para pantallas extra extra grandes */
  .login-aside {
    max-width: 680px !important;
  }
}